/* universal set up */
*{
    font-family: sans-serif;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

/* body structure */
body {
    background-color: #040404;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* logo style */
.logo {
    max-width: 600px;
    margin-bottom: 20px;
}

/* input style */
.container-input {
    max-width: 480px;   /* I want this smaller than the logo */
    margin: 14px 0;   /* 14px top and botom & 0 left and right */
}

.container-input span {
    color: white;
    font-size: 22px;
}

/* track bar style */
.slider {
    width: 100%;
    border-radius: 5px;
    background-color: #8a8a8afe;
    height: 18px;
    margin-top: 8px;
    outline: none;
    outline: none;	
    opacity: 0.7;
}

/* button style */
.button-cta {
    height: 40px;
    background-color: #1eae08;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 40px;
    color: #fff;
    font-size: 18px;
}

/* generated password container */
.container-password {
    max-width: 480px;
    display: flex;
    margin: 14px 0;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.title-password {
    text-align: center;
    font-size: 25px;
    color: #fff;
    margin-top: 24px;
    margin-bottom: 8px;
}

.generated-password {
    height: 60px;
    background-color: #0f1b0b;
    display: flex;
    color: #fff;
    font-size: 20px;
    border-radius: 4px;
    border: 1px solid #313131;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s;
}

.generated-password:hover {
    transform: scale(1.06);
    border-color: #FFF;	
}

/* this class is in the line 27 of html */
.hide { 
    display: none;
}

/* tooltip */
.tooltip {
    color: #fff;
    position: relative;
    top: 20px;
    padding: 6px 8px;
    background: #1b1f17;
    text-align: center;
    font-size: 16px;
    border-radius: 6px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.container-password:hover .tooltip {
    visibility: visible;
    bottom: 50px;
    opacity: 1;
}